*.spec
start.cmd
start.sh
main.exe
nuitka-crash-report.xml
__pycache__
.env/
.venv/
.vscode/
.pytest_cache/
temp/
logs/
dist/
build/
main.build/
main.dist/
main.onefile-build/
src/temp/
src/logs/
src/tests/
src/tools/
src/Little_Tree_Wallpaper.egg-info/


